/* Reset Styles */
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, a, ul, li
table, tbody, tfoot, thead, tr, th, td, audio
{
	  margin: 0;
	  padding: 0;
	  border: 0;
	  font-size: 100%;
	  font: inherit;
	  vertical-align: baseline;
    -webkit-user-select: none;
}

body {
	  line-height: 1;
}

ol, ul {
    list-style: none;
}

table {
	  border-collapse: collapse;
	  border-spacing: 0;
}

/* blue    pale    light grey  grey    dark grey */
/* #004489 #E1E1D6 #D3D9DF     #989898 #565656  */
/* -------------------------------------
    Main styles
--------------------------------------- */
#main-container {
  	font: 14px Montserrat;
  	overflow: hidden;
    background-color: #D3D9DF;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
}


/* -------------------------------------
    Left side Browser styles
--------------------------------------- */

#file-view-container {
    order: 1;
    flex: 1 49%;
}

#browser-list {
    height: 90vh;
    padding-left: 30px;
}
#browser-list ul>li:nth-child(even) {
    background-color: #E1E1D6;
}

#navigation-view-container {
    background-color: #565656;
    color: white;
    height: 10vh;
}

#navigation-view-container li {
    padding-bottom: 8px;
    background-color: #989898;
    display: inline-block;
    padding: 10px;
    margin: 5px 2px 5px 2px;
    border-radius: 15px;
}


/* -----------------------------------
   Right side Queue styles
------------------------------------ */
#queue-view-container {
    flex: 1 49%;
    order: 2;
}

#queue-view-container ul>li:nth-child(even) {
    background-color: #E1E1D6;
}

#queue-list {
    height: 90vh;
    padding-left: 30px;
}

#audio-view-container {
    background-color: #565656;
    height: 10vh;
    color: white;
    text-align: center;
}

#audio-view-container table {
    margin: auto;
}

#audio-view-container td {
    padding: 0 15px 0 15px;
}


/* -----------------------------------
    Styles for the Chat box
----------------------------------- */
#chat-container {
    order: 3;
    flex: 0 0 auto;
    position: fixed;
    bottom: 0;
    height: 15vh;
    width: 100vw;
    z-index: 100;
    background-color: #565656;
    color: #E1E1D6;
    padding-left: 30px;
    padding-top: 15px;
}

#chat-message-list {
}

#chat-container input {
    width: 80%;
}

/* ------------------------------------
   Utility Styles
------------------------------------ */
.scroll-box {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.song-item, .group-item {
    padding-top: 5px;
    padding-bottom: 5px;
}

.button {
    padding: 10%;
    width: 80%;
}

.button-container {
    width: 33%;
    float: left;
    padding: auto;
}

